html,
body {
  padding: 0;
  margin: 0;
}

.bg-primary {
  background-color: #1f2937;
}

.bg-secondary {
  background-color: #e5e7eb;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.header .d-flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}

.header .logo {
  font-size: 24px;
  color: #f9faf8;
  font-family: "Roboto", sans-serif;
}

.header .links {
  display: flex;
  gap: 24px;
  list-style: none;
}
.header .links li a {
  text-decoration: none;
  color: #e5e7eb;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.hero {
  display: flex;
}

.hero h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.hero p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #e5e7eb;
}

.hero > div {
  width: 50%;
}

.hero div:last-child {
  text-align: right;
}

.hero button {
  background-color: #3882f6;
  /* font-size: 18px; */
  color: #e5e7eb;
  border-radius: 8px;
  border: 1px solid #3882f6;
  padding: 0.25rem 1rem;
  font-weight: 500;
}

img {
  width: 400px;
}

.card-section h2 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.card-section .cards {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.card-section .card img {
  width: 220px;
  height: 170px;
  border: 3px solid #3882f6;
  border-radius: 8px;
}
